<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" metadata-complete="true" version="3.0">
  <servlet>
    <servlet-name>reportServlet</servlet-name>
    <servlet-class>au.com.quaysystems.qrm.server.ServletReportProcessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reportServlet</servlet-name>
    <url-pattern>/report</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>orderServlet</servlet-name>
    <servlet-class>au.com.quaysystems.qrm.server.ServletClientManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orderServlet</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>removeReportServlet</servlet-name>
    <servlet-class>au.com.quaysystems.qrm.server.ServletRemoveReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeReportServlet</servlet-name>
    <url-pattern>/removeReport</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>userReportServlet</servlet-name>
    <servlet-class>au.com.quaysystems.qrm.server.ServletUserReports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userReportServlet</servlet-name>
    <url-pattern>/userReports</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>availReportServlet</servlet-name>
    <servlet-class>au.com.quaysystems.qrm.server.ServletGetAvailableReports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>availReportServlet</servlet-name>
    <url-pattern>/availableReports</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>getReportServlet</servlet-name>
    <servlet-class>au.com.quaysystems.qrm.server.ServletGetReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getReportServlet</servlet-name>
    <url-pattern>/getReport</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>userMessageManager</servlet-name>
    <servlet-class>au.com.quaysystems.qrm.server.ServletUserMessageManager</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>userMessageManager</servlet-name>
    <url-pattern>/reportMsg</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>au.com.quaysystems.qrm.server.ServletListenerConcurrentManager</listener-class>
  </listener>
</web-app>